NEXT_PUBLIC_APP_NAME='Kasiak APP'
NEXT_PUBLIC_APP_DESCRIPTION='This is a kasiak app'
NEXT_PUBLIC_APP_URL='http://localhost:3000'

NEXT_PUBLIC_API_URL='http://localhost:8000'

#AUTH
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="chj2BkfZ9CM37lgnLEORkaNj7GakzY1EJouC7uNF+EI="